.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

section {
  margin-bottom: 30px;
}

.label-text {
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 12px;
  padding-right: 5px;
}

.label-value {
  padding-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 12px;
}

.label-strong {
  padding-right: 5px;
  margin-bottom: 15px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.gr {
  display: flex;
}

.gr > div {
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  flex: 1;
}

.gr > div:first-child {
  padding-left: 0;
}

.gr > div:last-child {
  padding-right: 0;
}

.-top-title {
  font-size: 16px;
  color: #0083CA;
  margin-bottom: 5px;
}

.panel {
  position: relative;
  height: 100%;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  background-color: #efefef;
}

.panel__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: -10px;
  top: -10px;
  background-color: #efefef;
  border: 2px solid #ffffff;
  vertical-align: middle;
  text-align: center;
}

.panel__icon > img {
  width: 20px;
  height: 20px;
  vertical-align: -webkit-baseline-middle;
}

.subtitle-icon {
  margin-top: 25px;
}

.thumbnail {
  width: 23%;
  margin: 0 1%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.thumbnail img {
  max-width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  vertical-align: middle;
}

.text {
  
}
.text.-default {
  color: #444444;
}

.text.-yellow {
  color: #FFCE00;
}

.text.-orange {
  color: #FB9600;
}

.text.-red {
  color: #E25335;
}

.text.-pink {
  color: #DE349E;
}

.text.-purple {
  color: #BF2FDC;
}

.text.-purple-dark {
  color: #5D33D5;
}

.text.-blue {
  color: #0083CA;
}

.text.-cyan {
  color: #33C3DD;
}

.text.-green-light {
  color: #32D9A1;
}

.text.-green {
  color: #58C22E;
}

.box {
  opacity: 1;
  transition: all 1s;
}

.box.box-hidden {
  opacity: 0;
  height: 0;
}

.align-center {
  text-align: center;
}

.panel__body {
  margin: 0;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
  margin-top: 30px;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.page-item.disabled .page-link {
  color: #444444;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0083CA;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.page-link:focus,
.page-link:hover {
  text-decoration: none;
  background-color: #eceeef;
  border-color: #ddd;
}

.form-input {
  margin-bottom: 10px;
}

.form-input__select {
  border-radius: 4px 0 0 4px;
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}

.search .form-input__field {
  width: 70% !important;
  display: inline-block;
  border-radius: 0;
  vertical-align: middle;
  float: none !important;
}

.form-input__help-text {
  display: block;
  margin-bottom: 20px;
}

.button {
  width: 15%;
  display: inline-block;
  border-radius: 0 4px 4px 0;
  vertical-align: middle;
  margin: 0;
}

.tags {
  margin-bottom: 20px;
}

.tag {
  background-color: #58C22E;
  color: #FFF;
  font-size: 12px;
  margin-right: 10px;
  padding: 5px 5px 5px 10px;
  border-radius: 4px;
}

.removeTag {
  cursor: pointer;
  padding: 5px;
  vertical-align: text-bottom;
}

.login {
  height: 100vh;
  margin: 0;
}