.toastr-container {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 350px;
  z-index: 10000;
}

.toastr-message-container {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  opacity: 1;
  display: flex;
  position: relative;
}

.toastr-message-container:hover {
  opacity: 1;
}

.toastr-message-icon-container {
  font-size: 30px; 
  width: 15%;
  text-align: center;
}

.toastr-message-message-container{
  width: 85%;
  padding-left: 5px;
}

.toastr-message-title-container > span{
  font-size: 18px;
  font-weight: bold;
}

.toastr-message-text-container {
  font-size: 16px;
  padding-top: 5px;
}

.toastr-message-close {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.toastr-message-close:hover {
  color: #ffffff;
  font-size: 22px;
  top: 3px;
  right: 6px;
}

.toastr-message-container.success {
  background-color: #58C22E;
}

.toastr-message-container.success .toastr-message-icon-container,
.toastr-message-container.success .toastr-message-title-container > span,
.toastr-message-container.success .toastr-message-text-container > span {
  color: #ffffff;
}

.toastr-message-container.info {
  background-color: #33C3DD;
}

.toastr-message-container.info .toastr-message-icon-container,
.toastr-message-container.info .toastr-message-title-container > span,
.toastr-message-container.info .toastr-message-text-container > span {
  color: #ffffff;
}

.toastr-message-container.warning {
  background-color: #FFCE00;
}

.toastr-message-container.warning .toastr-message-icon-container,
.toastr-message-container.warning .toastr-message-title-container > span,
.toastr-message-container.warning .toastr-message-text-container > span {
  color: #ffffff;
}

.toastr-message-container.danger {
  background-color: #E25335;
}

.toastr-message-container.danger .toastr-message-icon-container,
.toastr-message-container.danger .toastr-message-title-container > span,
.toastr-message-container.danger .toastr-message-text-container > span {
  color: #ffffff;
}