* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  vertical-align: baseline;
  text-decoration: none; }

.dropdown__link__help-text, .form-input__help-text, .gr, .page, .page__header, .navbar, .navbar.-header .navbar__nav, .form, .form-input, .form-input__fieldset, .modal__header, .modal__body, .modal__footer, .strips, body {
  clear: both; }
  .dropdown__link__help-text:after, .form-input__help-text:after, .gr:after, .page:after, .page__header:after, .navbar:after, .navbar.-header .navbar__nav:after, .form:after, .form-input:after, .form-input__fieldset:after, .modal__header:after, .modal__body:after, .modal__footer:after, .strips:after, body:after {
    content: "";
    display: table;
    clear: both; }

.button, .pagination__button, .pagination__button.-is-active {
  position: relative;
  display: inline-block;
  background-color: #0083CA;
  height: 40px;
  border: 0.0625rem solid #0083CA;
  border-radius: 0.1875rem;
  margin-right: 1.25em;
  padding: 0.5rem 1.5em;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  text-align: center;
  min-width: 150px;
  transition: opacity 300ms;
  cursor: pointer;
  margin-bottom: 10px; }
  .-disabled.button, .-disabled.pagination__button {
    color: #8C8C8C;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    cursor: not-allowed; }
    .-disabled.-outline.button, .-disabled.-outline.pagination__button {
      background-color: transparent;
      color: #8C8C8C; }
  .-link.button, .-link.pagination__button {
    color: #0083CA;
    background: none;
    border-color: transparent; }
    .-link.button:hover, .-link.pagination__button:hover {
      text-decoration: underline; }

.pagination__button {
  color: #0083CA;
  background: none;
  border-color: transparent; }

.form-input__radio, .form-input__checkbox, .table__checkbox, .form-input__field, .form-input__select, .table-filter__input {
  display: block;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background: #FFFFFF;
  border: 0.0625rem solid #D7D7D7;
  border-radius: 0.1875rem;
  padding: 0 0.625rem;
  color: #404040;
  font-size: 0.875rem;
  transition: all 300ms; }
  .form-input__radio:focus, .form-input__checkbox:focus, .table__checkbox:focus, .form-input__field:focus, .form-input__select:focus, .table-filter__input:focus {
    border-color: #0083CA; }
  .form-input__radio::-moz-placeholder, .form-input__checkbox::-moz-placeholder, .table__checkbox::-moz-placeholder, .form-input__field::-moz-placeholder, .form-input__select::-moz-placeholder, .table-filter__input::-moz-placeholder, .form-input__radio::-webkit-input-placeholder, .form-input__checkbox::-webkit-input-placeholder, .table__checkbox::-webkit-input-placeholder, .form-input__field::-webkit-input-placeholder, .form-input__select::-webkit-input-placeholder, .table-filter__input::-webkit-input-placeholder, .form-input__radio:-moz-placeholder, .form-input__checkbox:-moz-placeholder, .table__checkbox:-moz-placeholder, .form-input__field:-moz-placeholder, .form-input__select:-moz-placeholder, .table-filter__input:-moz-placeholder, .form-input__radio:-ms-input-placeholder, .form-input__checkbox:-ms-input-placeholder, .table__checkbox:-ms-input-placeholder, .form-input__field:-ms-input-placeholder, .form-input__select:-ms-input-placeholder, .table-filter__input:-ms-input-placeholder {
    color: #D7D7D7; }

.form-input__radio, .form-input__checkbox, .table__checkbox {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: auto;
  line-height: auto;
  padding: 7px;
  width: 14px;
  height: 14px; }
  .form-input__radio:checked, .form-input__checkbox:checked, .table__checkbox:checked {
    background: #0083CA;
    border-color: #0083CA;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#FFFFFF' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px; }
  .form-input__radio:disabled, .form-input__checkbox:disabled, .table__checkbox:disabled {
    cursor: not-allowed; }

.form-input__radio {
  border-radius: 50%;
  height: auto;
  line-height: auto;
  padding: 6px;
  width: 14px;
  height: 14px; }
  .form-input__radio:checked {
    background: none;
    border-color: #0083CA;
    background-image: none; }
    .form-input__radio:checked:after {
      content: "";
      display: block;
      position: relative;
      left: -3px;
      top: -3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #0083CA; }

.dropdown__link__help-text, .form-input__help-text {
  color: #8C8C8C;
  font-size: 0.875rem;
  margin-top: 0.25rem; }

.form-input__fieldset__legend, .nav-panel__title {
  display: block;
  color: #0083CA;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem; }

.container:after {
  content: "";
  display: table;
  clear: both; }

.row:before, .row-reverse:before, .row:after, .row-reverse:after {
  content: "";
  display: table; }

.row:after, .row-reverse:after {
  clear: both; }

.row, .row-reverse {
  zoom: 1; }

.gr-0, .gr-1, .gr-2, .gr-3, .gr-4, .gr-5, .gr-6, .gr-7, .gr-8, .gr-9, .gr-10, .gr-11, .gr-12 {
  display: inline-block;
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 1.25rem;
  padding-left: 1.25rem; }

.gr-adapt {
  display: table-cell;
  width: 1px;
  white-space: nowrap !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1.25rem;
  padding-left: 1.25rem; }

.gr-grow {
  display: table-cell;
  width: 99999px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1.25rem;
  padding-left: 1.25rem; }

.push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12 {
  position: relative; }

.pull-0, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 {
  position: relative; }

.nowrap {
  white-space: nowrap; }
  .nowrap > * {
    white-space: normal; }

.wrap {
  white-space: normal; }

.gr-centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important; }

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width; } }

#gridle-settings {
  content: '{ "version" : "2.0.48", "states" : { "default":{ "name" : "default", "min-width" : null, "max-width" : null, "query" : null, "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "2.5rem", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "1.25rem", "gutter-bottom" : "0", "gutter-left" : "1.25rem", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "_" : true }} }'; }

.gr-0 {
  width: 0%; }

.push-0 {
  left: 0%;
  right: auto; }

.pull-0 {
  right: 0%;
  left: auto; }

.prefix-0 {
  margin-left: 0%; }

.suffix-0 {
  margin-right: 0%; }

.gr-1 {
  width: 8.33333%; }

.push-1 {
  left: 8.33333%;
  right: auto; }

.pull-1 {
  right: 8.33333%;
  left: auto; }

.prefix-1 {
  margin-left: 8.33333%; }

.suffix-1 {
  margin-right: 8.33333%; }

.gr-2 {
  width: 16.66667%; }

.push-2 {
  left: 16.66667%;
  right: auto; }

.pull-2 {
  right: 16.66667%;
  left: auto; }

.prefix-2 {
  margin-left: 16.66667%; }

.suffix-2 {
  margin-right: 16.66667%; }

.gr-3 {
  width: 25%; }

.push-3 {
  left: 25%;
  right: auto; }

.pull-3 {
  right: 25%;
  left: auto; }

.prefix-3 {
  margin-left: 25%; }

.suffix-3 {
  margin-right: 25%; }

.gr-4 {
  width: 33.33333%; }

.push-4 {
  left: 33.33333%;
  right: auto; }

.pull-4 {
  right: 33.33333%;
  left: auto; }

.prefix-4 {
  margin-left: 33.33333%; }

.suffix-4 {
  margin-right: 33.33333%; }

.gr-5 {
  width: 41.66667%; }

.push-5 {
  left: 41.66667%;
  right: auto; }

.pull-5 {
  right: 41.66667%;
  left: auto; }

.prefix-5 {
  margin-left: 41.66667%; }

.suffix-5 {
  margin-right: 41.66667%; }

.gr-6 {
  width: 50%; }

.push-6 {
  left: 50%;
  right: auto; }

.pull-6 {
  right: 50%;
  left: auto; }

.prefix-6 {
  margin-left: 50%; }

.suffix-6 {
  margin-right: 50%; }

.gr-7 {
  width: 58.33333%; }

.push-7 {
  left: 58.33333%;
  right: auto; }

.pull-7 {
  right: 58.33333%;
  left: auto; }

.prefix-7 {
  margin-left: 58.33333%; }

.suffix-7 {
  margin-right: 58.33333%; }

.gr-8 {
  width: 66.66667%; }

.push-8 {
  left: 66.66667%;
  right: auto; }

.pull-8 {
  right: 66.66667%;
  left: auto; }

.prefix-8 {
  margin-left: 66.66667%; }

.suffix-8 {
  margin-right: 66.66667%; }

.gr-9 {
  width: 75%; }

.push-9 {
  left: 75%;
  right: auto; }

.pull-9 {
  right: 75%;
  left: auto; }

.prefix-9 {
  margin-left: 75%; }

.suffix-9 {
  margin-right: 75%; }

.gr-10 {
  width: 83.33333%; }

.push-10 {
  left: 83.33333%;
  right: auto; }

.pull-10 {
  right: 83.33333%;
  left: auto; }

.prefix-10 {
  margin-left: 83.33333%; }

.suffix-10 {
  margin-right: 83.33333%; }

.gr-11 {
  width: 91.66667%; }

.push-11 {
  left: 91.66667%;
  right: auto; }

.pull-11 {
  right: 91.66667%;
  left: auto; }

.prefix-11 {
  margin-left: 91.66667%; }

.suffix-11 {
  margin-right: 91.66667%; }

.gr-12 {
  width: 100%; }

.push-12 {
  left: 100%;
  right: auto; }

.pull-12 {
  right: 100%;
  left: auto; }

.prefix-12 {
  margin-left: 100%; }

.suffix-12 {
  margin-right: 100%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.no-gutter {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.no-gutter-left {
  padding-left: 0; }

.no-gutter-right {
  padding-right: 0; }

.no-gutter-top {
  padding-top: 0; }

.no-gutter-bottom {
  padding-bottom: 0; }

.gutter {
  padding-right: 1.25rem;
  padding-left: 1.25rem; }

.gutter-left {
  padding-left: 1.25rem; }

.gutter-right {
  padding-right: 1.25rem; }

.auto-height {
  height: inherit; }

.row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -1.25rem;
  margin-right: -1.25rem; }
  [class*="no-gutter"] > .row {
    margin-left: 0 !important;
    margin-right: 0 !important; }

.row-reverse {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  transform: rotateY(180deg); }
  .row-reverse > [class*="gr-"] {
    transform: rotateY(-180deg); }
  [class*="no-gutter"] > .row-reverse {
    margin-left: 0 !important;
    margin-right: 0 !important; }

.row-full {
  width: 100vw;
  margin-left: 50% !important;
  margin-right: 0 !important;
  -webkit-transform: translateX(-50%);
  -moz-transition: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -1.25rem;
  margin-right: -1.25rem; }

.col-reverse {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  transform: rotateX(180deg); }
  .col-reverse > [class*="gr-"] {
    transform: rotateX(-180deg); }

.gr-table {
  display: table-cell;
  float: none;
  vertical-align: top; }

.row-align-left {
  font-size: 0;
  clear: both;
  text-align: left; }
  .row-align-left > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-left > * {
    margin-right: -0.5px; } }

.row-align-center {
  font-size: 0;
  clear: both;
  text-align: center; }
  .row-align-center > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-center > * {
    margin-right: -0.5px; } }
  .row-align-center > * {
    text-align: left; }

.row-align-right {
  font-size: 0;
  clear: both;
  text-align: right; }
  .row-align-right > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-right > * {
    margin-right: -0.5px; } }
  .row-align-right > * {
    text-align: left; }

.row-align-middle {
  font-size: 0;
  clear: both;
  vertical-align: middle; }
  .row-align-middle > * {
    float: none !important;
    vertical-align: middle;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-middle > * {
    margin-right: -0.5px; } }

.row-align-top {
  font-size: 0;
  clear: both;
  vertical-align: top; }
  .row-align-top > * {
    float: none !important;
    vertical-align: top;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-top > * {
    margin-right: -0.5px; } }

.row-align-bottom {
  font-size: 0;
  clear: both;
  vertical-align: bottom; }
  .row-align-bottom > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-bottom > * {
    margin-right: -0.5px; } }

.hide {
  display: none; }

.not-visible {
  visibility: hidden; }

.show {
  display: block; }

.show-inline {
  display: inline-block; }

.visible {
  visibility: visible; }

.row-debug {
  position: relative;
  z-index: 99999;
  overflow: hidden; }
  .row-debug:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99999px;
    background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
    background-size: 16.66667% 100%;
    z-index: 99999; }

body {
  direction: ltr; }

[class*="gr-"] > [class^="row"],
[class*="gr-"] > [class^="col"] {
  margin-left: -1.25rem;
  margin-right: -1.25rem; }

.gr.-row {
  margin-right: -1.25rem;
  margin-left: -1.25rem; }

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1.25rem; }
  .container.-row {
    margin-right: -1.25rem;
    margin-left: -1.25rem; }

.page {
  position: relative;
  height: 100%; }
  .page__header {
    position: relative;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 40px;
    padding-bottom: 40px; }
    .page__header__heading {
      display: inline-block; }
    .page__header__title {
      color: #0083CA;
      font-size: 32px;
      margin-bottom: 5px;
      font-weight: normal; }
    .page__header__description {
      font-size: 18px;
      color: #8C8C8C;
      margin: 0;
      font-weight: normal; }
    .page__header__actions {
      float: right;
      display: inline-block;
      margin-top: 20px; }
  .page__content {
    padding-top: 30px; }
    .page__content__title {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 30px; }

.navbar.-header .navbar__nav__link, .dropdown.-navbar-nav > .dropdown__link {
  position: relative;
  display: inline-block;
  background-color: transparent !important;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  font-size: 1rem;
  text-align: center;
  color: #FFFFFF;
  line-height: 5.625rem;
  vertical-align: top;
  opacity: 0.85 !important;
  filter: opacity(0.85) !important;
  -webkit-filter: opacity(0.85) !important;
  transition: all 300ms; }
  .navbar.-header .navbar__nav__link:after, .dropdown.-navbar-nav > .dropdown__link:after {
    position: absolute;
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    bottom: 0;
    left: 0; }
  .navbar.-header .-active.navbar__nav__link, .dropdown.-navbar-nav > .-active.dropdown__link {
    color: #FFCE00;
    opacity: 1 !important;
    filter: opacity(1) !important;
    -webkit-filter: opacity(1) !important; }
    .navbar.-header .-active.navbar__nav__link:after, .dropdown.-navbar-nav > .-active.dropdown__link:after {
      background-color: #FFCE00 !important; }
  .navbar.-header .navbar__nav__link:hover, .dropdown.-navbar-nav > .dropdown__link:hover {
    color: #FFFFFF;
    opacity: 1 !important;
    filter: opacity(1) !important;
    -webkit-filter: opacity(1) !important; }
    .navbar.-header .navbar__nav__link:hover:after, .dropdown.-navbar-nav > .dropdown__link:hover:after {
      background-color: #006195 !important; }

.navbar {
  position: relative; }
  .navbar.-header {
    height: 5.625rem;
    line-height: 5.625rem;
    background-color: #0083CA;
    color: #FFFFFF; }
    .navbar.-header .navbar__nav {
      display: inline-block;
      vertical-align: top; }
      .navbar.-header .navbar__nav__link {
        float: left; }
      .navbar.-header .navbar__nav__item {
        display: inline; }
  .navbar__brand {
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #FFFFFF;
    vertical-align: top; }
    .navbar__brand__logo {
      vertical-align: middle; }
  .navbar__nav.-right {
    float: right;
    right: 0; }

.dropdown {
  position: relative;
  display: inline-block;
  transition: all 300ms; }
  .dropdown__menu {
    position: absolute;
    display: none;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    min-width: 10.9375rem;
    border-bottom-left-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
    overflow: hidden;
    left: 1px;
    z-index: 10;
    visibility: hidden; }
  .dropdown__link {
    display: block;
    color: #404040;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 48px;
    font-size: 0.875rem;
    line-height: 48px;
    transition: all 300ms; }
    .dropdown__link:hover {
      background-color: #F4F4F4; }
  .dropdown.-arrow > .dropdown__link {
    padding-right: 40px;
    background-repeat: no-repeat;
    background-position: center right 0.7625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path fill="#404040" d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z"/></svg>'); }
  .dropdown.-right .dropdown__menu {
    float: right;
    right: 1px;
    left: unset; }
  .dropdown:hover > .dropdown__link {
    background-color: #F4F4F4; }
  .dropdown:hover .dropdown__menu {
    display: block;
    visibility: visible; }
  .dropdown.-navbar-nav.-arrow > .dropdown__link {
    padding-right: 40px;
    background-repeat: no-repeat;
    background-position: center right 0.7625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path fill="#FFFFFF" d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z"/></svg>'); }
  .dropdown.-navbar-nav:hover > .dropdown__link {
    color: #FFFFFF;
    opacity: 1 !important;
    filter: opacity(1) !important;
    -webkit-filter: opacity(1) !important; }
    .dropdown.-navbar-nav:hover > .dropdown__link:after {
      background-color: #006195 !important; }

.form-input {
  margin-bottom: 1.875rem; }
  .form-input:first-child {
    margin-left: 0; }
  .form-input__label {
    display: block;
    font-weight: 700;
    margin-bottom: 0.1875rem; }
  .form-input__fieldset {
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 2em; }
  .form-input__checkbox {
    position: absolute;
    display: inline-block;
    margin: 2px 0;
    margin-left: -1.375rem; }
  .form-input__radio {
    position: absolute;
    display: inline-block;
    margin: 3px 0;
    margin-left: -1.375rem; }
  .form-input__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-position: center right 0.7625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path fill="#404040" d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z"/></svg>'); }
  .form-input.-checkbox, .form-input.-radio {
    margin-bottom: 0.3125rem; }
    .form-input.-checkbox .form-input__label, .form-input.-radio .form-input__label {
      margin-left: 1.375rem;
      font-weight: normal; }
  .form-input.-disabled .form-input__label {
    cursor: not-allowed;
    opacity: 0.8; }
  .form-input.-row .form-input__field {
    float: left;
    width: calc(100% - 6.25rem); }
  .form-input.-row .form-input__label {
    float: left;
    box-sizing: border-box;
    padding-top: 0.625rem;
    width: 6.25rem;
    padding-right: 0.625rem; }
  .form-input.-row.-checkbox .form-input__label, .form-input.-row.-radio .form-input__label {
    margin-left: 7.625rem;
    font-size: 1rem;
    font-weight: normal; }
  .form-input.-row .form-input__help-text {
    margin-left: 6.25rem; }
  .form-input.-actions {
    display: block !important; }
  .form-input[class*="-has"] .form-input__field {
    padding-right: 40px;
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem; }
  .form-input.-has-success {
    color: #58C22E; }
    .form-input.-has-success .form-input__field {
      border-color: #58C22E;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#58C22E' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); }
    .form-input.-has-success .form-input__select {
      border-color: #58C22E;
      padding-right: 40px;
      background-repeat: no-repeat;
      background-position: center right 0.7625rem;
      -webkit-background-size: 1.125rem 1.125rem;
      background-size: 1.125rem 1.125rem;
      background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path fill="#58C22E" d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z"/></svg>'); }
    .form-input.-has-success .form-input__help-text {
      color: #58C22E; }
  .form-input.-has-error {
    color: #E25335; }
    .form-input.-has-error .form-input__field {
      border-color: #E25335;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#E25335' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E"); }
    .form-input.-has-error .form-input__select {
      border-color: #E25335;
      padding-right: 40px;
      background-repeat: no-repeat;
      background-position: center right 0.7625rem;
      -webkit-background-size: 1.125rem 1.125rem;
      background-size: 1.125rem 1.125rem;
      background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path fill="#E25335" d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z"/></svg>'); }
    .form-input.-has-error .form-input__help-text {
      color: #E25335; }
  .form-input.-has-warning {
    color: #FFCE00; }
    .form-input.-has-warning .form-input__field {
      border-color: #FFCE00;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#FFCE00' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E"); }
    .form-input.-has-warning .form-input__select {
      border-color: #FFCE00;
      padding-right: 40px;
      background-repeat: no-repeat;
      background-position: center right 0.7625rem;
      -webkit-background-size: 1.125rem 1.125rem;
      background-size: 1.125rem 1.125rem;
      background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path fill="#FFCE00" d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z"/></svg>'); }
    .form-input.-has-warning .form-input__help-text {
      color: #FFCE00; }

.button:last-child {
  margin-right: 0; }

.button.-persistence {
  color: #FFFFFF;
  background-color: #58C22E;
  border-color: #58C22E; }
  .button.-persistence.-outline {
    color: #58C22E; }

.button.-destroy {
  color: #FFFFFF;
  background-color: #E25335;
  border-color: #E25335; }
  .button.-destroy.-outline {
    color: #E25335; }

.button.-warning {
  color: #FFFFFF;
  background-color: #FFCE00;
  border-color: #FFCE00; }
  .button.-warning.-outline {
    color: #FFCE00; }

.button.-block {
  display: block;
  width: 100%; }

.button:hover {
  opacity: 0.85; }

.button.-outline {
  background-color: transparent;
  color: #0083CA; }

.table__head__cell, .table__cell {
  text-align: left;
  padding: 20px 10px;
  vertical-align: middle; }

.table {
  width: 100%;
  border-collapse: collapse; }
  .table__head.-filter .table__cell {
    vertical-align: top; }
  .table__head__cell {
    font-size: 1rem;
    color: #8C8C8C; }
  .table__body .table__row {
    border-bottom: 1px solid #E5E5E5; }
  .table__body .table__row {
    transition: all 300ms; }
    .table__body .table__row:hover {
      cursor: pointer;
      background-color: #F4F4F4 !important; }
    .table__body .table__row:last-child .table__cell {
      border-bottom: none; }
  .table__cell {
    font-size: 0.875rem; }
    .table__cell:last-child {
      padding-right: 0; }
  .table__checkbox {
    display: block; }
  .table.-striped .table__body .table__row:nth-child(odd) {
    background-color: #f9f9f9; }
  .table-filter__input {
    display: block; }

.panel {
  background: #F4F4F4;
  padding: 10px 15px;
  border-radius: 0.1875rem;
  margin-bottom: 20px; }
  .panel__title {
    text-transform: uppercase;
    font-size: 12px;
    color: #8C8C8C;
    margin-bottom: 15px; }
  .panel__body {
    font-size: 14px; }

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  transition: all 400ms ease; }
  .modal.-full .modal__dialog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: none;
    bottom: 0;
    border-radius: 0; }
    .modal.-full .modal__dialog .modal__header,
    .modal.-full .modal__dialog .modal__body,
    .modal.-full .modal__dialog .modal__footer {
      flex: 1; }
  .modal.-fit .modal__dialog {
    max-width: fit-content;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content; }
  .modal.-is-open {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 400ms ease-in; }
    .modal.-is-open.-full .modal__dialog {
      top: 0;
      transition: top 800ms ease; }
    .modal.-is-open .modal__dialog {
      top: 40px;
      transition: top 800ms ease; }
  .modal__dialog {
    position: relative;
    top: -100%;
    margin: 0 auto;
    width: auto;
    max-width: 960px;
    background-color: #FFFFFF;
    border-radius: 0.1875rem;
    overflow: hidden;
    transition: top 800ms ease; }
  .modal__header {
    padding: 30px 30px 0;
    max-height: 55px; }
  .modal__title {
    display: inline-block;
    font-size: 18px;
    color: #0083CA;
    line-height: 24px;
    vertical-align: top; }
  .modal__close-button {
    float: right;
    font-size: 38px;
    color: #8C8C8C;
    line-height: 20px;
    background: none;
    cursor: pointer;
    margin-left: 15px; }
  .modal__body {
    padding: 30px; }
  .modal__footer {
    padding: 30px;
    background-color: #F4F4F4;
    max-height: 82px; }

.nav-panel {
  position: relative;
  padding-left: 5.625rem; }
  .nav-panel__icon {
    position: absolute;
    top: 0;
    left: 0; }
  .nav-panel__title {
    margin-bottom: 10px; }
  .nav-panel .button {
    visibility: hidden; }
  .nav-panel:hover .button {
    visibility: visible; }

.breadcrumb {
  background-color: #F4F4F4; }
  .breadcrumb__link {
    position: relative;
    display: inline-block;
    height: 50px;
    margin-left: 45px;
    color: #8C8C8C;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 500ms; }
    .breadcrumb__link:first-child {
      margin-left: 0; }
      .breadcrumb__link:first-child:before {
        display: none; }
    .breadcrumb__link:before {
      content: "";
      position: absolute;
      padding-right: 40px;
      background-repeat: no-repeat;
      background-position: center right .5625rem;
      -webkit-background-size: 1.125rem 1.125rem;
      background-size: 1.125rem 1.125rem;
      background-image: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve"><path fill="#8C8C8C" d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"/></svg>');
      background-size: 10px auto;
      background-position: 0 center;
      width: 10px;
      height: 10px;
      top: 50%;
      margin-top: -5px;
      left: -30px; }
    .breadcrumb__link:after {
      transition: all 500ms;
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #0083CA;
      opacity: 0;
      filter: opacity(0); }
    .breadcrumb__link:hover, .breadcrumb__link.-active {
      color: #0083CA; }
      .breadcrumb__link:hover:after, .breadcrumb__link.-active:after {
        opacity: 1;
        filter: opacity(1); }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0.1875rem; }
  .alert.-success {
    color: #FFFFFF;
    background-color: #58C22E; }
  .alert.-danger {
    color: #FFFFFF;
    background-color: #E25335; }
  .alert.-warning {
    color: #FFFFFF;
    background-color: #FFCE00; }
  .alert.-info {
    color: #FFFFFF;
    background-color: #77C1E4; }

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
  /* Base styles for the entire tooltip */
  /* Show the entire tooltip on hover and focus */
  /* Directions */
  /* Left */
  /* Bottom */
  /* Right */
  /* Move directional arrows down a bit for left/right tooltips */
  /* Vertically center tooltip content for left/right tooltips */ }
  [data-tooltip]:hover,
  .tooltip:hover {
    z-index: 1; }
  [data-tooltip]:before, [data-tooltip]:after,
  .tooltip:before,
  .tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    z-index: 1001; }
  [data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after,
  .tooltip:hover:before,
  .tooltip:hover:after,
  .tooltip:focus:before,
  .tooltip:focus:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  [data-tooltip].-left:before, [data-tooltip].-left:after,
  .tooltip.-left:before,
  .tooltip.-left:after {
    right: 100%;
    bottom: 50%;
    left: auto;
    z-index: 0; }
  [data-tooltip].-left:before,
  .tooltip.-left:before {
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: #000; }
  [data-tooltip].-left:hover:before, [data-tooltip].-left:hover:after, [data-tooltip].-left:focus:before, [data-tooltip].-left:focus:after,
  .tooltip.-left:hover:before,
  .tooltip.-left:hover:after,
  .tooltip.-left:focus:before,
  .tooltip.-left:focus:after {
    -webkit-transform: translateX(-12px);
    -moz-transform: translateX(-12px);
    transform: translateX(-12px); }
  [data-tooltip].-bottom:before, [data-tooltip].-bottom:after,
  .tooltip.-bottom:before,
  .tooltip.-bottom:after {
    top: 100%;
    bottom: auto;
    left: 50%;
    z-index: 0; }
  [data-tooltip].-bottom:before,
  .tooltip.-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000; }
  [data-tooltip].-bottom:hover:before, [data-tooltip].-bottom:hover:after, [data-tooltip].-bottom:focus:before, [data-tooltip].-bottom:focus:after,
  .tooltip.-bottom:hover:before,
  .tooltip.-bottom:hover:after,
  .tooltip.-bottom:focus:before,
  .tooltip.-bottom:focus:after {
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    transform: translateY(12px); }
  [data-tooltip].-right:before, [data-tooltip].-right:after,
  .tooltip.-right:before,
  .tooltip.-right:after {
    bottom: 50%;
    left: 100%; }
  [data-tooltip].-right:before,
  .tooltip.-right:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #000; }
  [data-tooltip].-right:hover:before, [data-tooltip].-right:hover:after, [data-tooltip].-right:focus:before, [data-tooltip].-right:focus:after,
  .tooltip.-right:hover:before,
  .tooltip.-right:hover:after,
  .tooltip.-right:focus:before,
  .tooltip.-right:focus:after {
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    transform: translateX(12px); }
  [data-tooltip].-left:before, [data-tooltip].-right:before,
  .tooltip.-left:before,
  .tooltip.-right:before {
    top: 12px; }
  [data-tooltip].-left:after, [data-tooltip].-right:after,
  .tooltip.-left:after,
  .tooltip.-right:after {
    margin-left: 0;
    margin-bottom: -16px;
    z-index: 1001; }
  [data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after,
  .tooltip:hover:before,
  .tooltip:hover:after,
  .tooltip:focus:before,
  .tooltip:focus:after {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
    z-index: 1001; }

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: ""; }

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  padding: 8px;
  width: 160px;
  background-color: #000;
  color: #fff;
  content: attr(data-tooltip);
  border-radius: 0.1875rem;
  font-size: 14px;
  line-height: 1.2;
  z-index: 1001; }

/* Directions */
/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%; }

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000; }

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px; }

.strips {
  display: flex;
  flex-direction: row; }
  .strips__strip {
    width: 100%;
    height: 5px; }
    .strips__strip.-yellow {
      background-color: #FFCE00; }
    .strips__strip.-orange {
      background-color: #FB9600; }
    .strips__strip.-red {
      background-color: #E25335; }
    .strips__strip.-pink {
      background-color: #DE349E; }
    .strips__strip.-purple {
      background-color: #BF2FDC; }
    .strips__strip.-purple-dark {
      background-color: #5D33D5; }
    .strips__strip.-blue {
      background-color: #0083CA; }
    .strips__strip.-cyan {
      background-color: #33C3DD; }
    .strips__strip.-green-light {
      background-color: #32D9A1; }
    .strips__strip.-green {
      background-color: #58C22E; }

.badge {
  font-size: 11px;
  color: #fff;
  background-color: #E25335;
  border-radius: 0.1875rem;
  padding: 3px 15px; }
  .badge.-float {
    position: absolute; }
  .badge.-right {
    top: -50%;
    right: -10%;
    margin-top: 9px; }

.pagination {
  display: flex;
  flex-direction: row; }
  .pagination__button {
    min-width: fit-content !important;
    min-width: -moz-fit-content !important;
    min-width: -webkit-fit-content !important;
    color: #404040;
    margin-right: 0.7rem !important;
    padding: 0.5rem 1em !important; }
    .pagination__button:hover {
      border-color: #E5E5E5 !important; }
    .pagination__button.-is-active:hover {
      border-color: #0083CA !important; }
    .pagination__button.-nav-button {
      border-color: transparent !important; }
    .pagination__button.-disabled {
      background-color: transparent;
      border-color: transparent !important; }
      .pagination__button.-disabled:hover {
        text-decoration: underline; }

:root {
  font-size: 16px; }

html, body {
  height: 100%; }

body {
  height: 100%; }

body {
  color: #404040;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.42857143; }

p {
  display: block;
  margin-bottom: 1rem; }

img {
  max-width: 100%; }

a:hover, a:visited, a:active {
  text-decoration: none; }
